<!--The content below is only a placeholder and can be replaced.-->

<ng-container [ngSwitch]="this.dataStage">
  <div *ngSwitchCase="'loaded'">
    <div class="row">
      <div class="col-sm-9">
        <h4>
          Regeln für {{ this.incidenceData.areaName }},
          {{ this.incidenceData.bundesland }}
        </h4>
      </div>
      <div class="col-sm-3 float-right">
        <a
          href="/"
          role="button"
          class="btn btn-sm btn-outline-info float-right"
        >
          Ändern
      </a>
      </div>
    </div>
    <p><small>
      Aktualisiert am {{ this.rules.timestamp | date: "dd.MM.YYYY" }} um
      {{ this.rules.timestamp | date: "HH:mm" }} Uhr
    </small>
    </p>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-1 my-auto">
            <p class="my-auto">RKI</p>
          </div>
          <div class="col-sm-4 my-auto">
            <p class="my-auto">Aktueller Inzidenzwert</p>
          </div>
          <div class="col-sm-6">
            <p class="my-auto">
              {{ this.incidenceData.incidence }} (Regeln gelten ab Inzidenz >
              {{
                this.rules.incidenceRules[this.activeIncidenceIndex]
                  .fromIncidence.value
              }})
            </p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <app-important-announcement
          [rule]="this.rules.importantAnnouncement"
        ></app-important-announcement>
      </li>
      <li class="list-group-item">
        <app-going-out-ban
          [rule]="
            this.rules.incidenceRules[this.activeIncidenceIndex].goingOutBan
          "
        ></app-going-out-ban>
      </li>
      <li class="list-group-item">
        <app-contact-rule
          [rule]="
            this.rules.incidenceRules[this.activeIncidenceIndex].contactsInside
          "
        ></app-contact-rule>
      </li>
      <li class="list-group-item">
        <app-contact-rule
          [rule]="
            this.rules.incidenceRules[this.activeIncidenceIndex].contactsOutside
          "
        ></app-contact-rule>
      </li>
      <li class="list-group-item">
        <app-closed-institutions
          [rule]="this.rules.closedInstitutions"
        ></app-closed-institutions>
      </li>
      <li class="list-group-item">
        <app-closed-stores [rule]="this.rules.closedStores"></app-closed-stores>
      </li>
      <li class="list-group-item">
        <app-masks-rule [rule]="this.rules.masks"></app-masks-rule>
      </li>
      <li class="list-group-item">
        <app-sports-rule
          [rule]="
            this.rules.incidenceRules[this.activeIncidenceIndex].sportsRules
          "
        ></app-sports-rule>
      </li>
      <li class="list-group-item">
        <app-travel-rule
          [rule]="
            this.rules.incidenceRules[this.activeIncidenceIndex].travelRules
          "
        ></app-travel-rule>
      </li>
      <li class="list-group-item">
        <app-party-rules
          [rule]="
            this.rules.incidenceRules[this.activeIncidenceIndex].partyRules
          "
        ></app-party-rules>
      </li>
      <li class="list-group-item">
        <app-culture-rules
          [rule]="
            this.rules.incidenceRules[this.activeIncidenceIndex].cultureRules
          "
        ></app-culture-rules>
      </li>
      <li class="list-group-item">
        <app-special-rules
          [rule]="
            this.rules.incidenceRules[this.activeIncidenceIndex].specialRules
          "
        ></app-special-rules>
      </li>
    </ul>
  </div>

  <div *ngSwitchCase="'initial'">
    <div class="row mx-1">
      <p>Was-gilt zeigt dir die <b>aktuell geltenden Corona-Regeln und Auflagen zusammengefasst und übersichtlich</b> speziell für deinen Ort an. Um einen Ort zu bestimmen, hast du folgende Möglichkeiten:</p>
    </div>
    <div class="row mx-1">
      <p>1. Standort automatisch bestimmen und Regeln anzeigen.</p>
    </div>
    <div class="row mb-3">
      <div class="col-sm">
        <button
          type="button"
          class="btn btn-info"
          (click)="this.onLocationClick($event)"
        >
          Standort bestimmen
        </button>
      </div>
    </div>

    <div class="row mx-1">
      <p>2. Standort per Postleitzahl ermitteln.</p>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">PLZ</span>
          </div>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="plz"
            placeholder="Postleitzahl"
            aria-label="PLZ"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <button
          type="button"
          class="btn btn-info"
          (click)="this.onPLZClick($event)"
        >
          Regeln anzeigen
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'loading'">
    Position wird bestimmt und Regeln werden geladen...
  </div>
</ng-container>
