<div class="row">
  <div class="col-sm-1 my-auto">
    <img class="mr-3 rule-icon" src="assets/audience.png" alt="Contact" />
  </div>
  <div class="col-sm-4 my-auto">
    <p class="my-auto">Kontakte {{ this.rule.where }}</p>
  </div>
  <div class="col-sm-6">
    <div class="row ml-1">
        <p class="my-auto">Maximum: {{ this.rule.contactsNumber }} Personen</p>
    </div>
    <div class="row ml-1" *ngIf="this.rule.remarks != ''">
      <p class="my-auto"><i>Info:</i> {{ this.rule.remarks }}</p>
    </div>
  </div>
</div>
