<div class="row">
    <div class="col-sm-1 my-auto">
      <img class="mr-3 rule-icon" src="assets/ban-circle-symbol.png" alt="Ban" />
    </div>
    <div class="col-sm-4 my-auto">
      <p *ngIf="this.rule.isBan == true; else noban" class="my-auto"><b>Ausgangssperre!</b></p>
    </div>
    <div class="col-sm-6">
      <div class="row ml-1">
          <p class="my-auto">{{ this.rule.rule }}</p>
      </div>
    </div>
  </div>
<ng-template #noban>
    <p class="my-auto">Ausgangsbeschränkung</p>
</ng-template>

  