<div class="row">
  <div class="col-sm-4 my-auto">
    <p class="mb-0">Ausgangssperre/beschränkung</p>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div
        class="btn-group btn-group-toggle"
        ngbRadioGroup
        name="radioBasic"
        [(ngModel)]="rule.isBan"
      >
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="true" /> Ausgangssperre
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="false" /> Ausgangsbeschränkung
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-group my-auto">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="rule.rule"
          placeholder="Von was bis wann und wo?"
          aria-label="goingoutban"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
  </div>
</div>
