<div class="row">
  <div class="col-sm-3 my-auto">
    <p class="mb-0">Grenzwerte</p>
  </div>
  <div
    class="col-sm-3 input-group"
    *ngFor="let incidenceValue of this.incidenceValues.values; let i = index"
  >
    <input
      type="text"
      class="form-control"
      [(ngModel)]="this.incidenceValues.values[i]"
      placeholder="Maximale Kontakte"
      aria-label="contacts"
      aria-describedby="incidence-value"
    />
    <div class="input-group-append">
      <button
        class="btn btn-danger"
        type="button"
        (click)="this.deleteIncidenceValue(i)"
      >
        X
      </button>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-3 my-auto">
    <p class="mb-0">Neuer Grenzwert</p>
  </div>
  <div class="col-sm-9 my-auto">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="this.newValue"
        placeholder="Neuer Grenzwert"
        aria-label="contacts"
        aria-describedby="incidence-value"
      />
      <div class="input-group-append">
        <button
          class="btn btn-success"
          type="button"
          (click)="this.addIncidenceValue()"
        >
          Hinzufügen
        </button>
      </div>
    </div>
  </div>
</div>
