<div class="container bg-light">
  <div class="row mb-3">
    <div class="col-sm mt-5" style="text-align: center">
      <img src="assets/apple-touch-icon.png" style="text-align: center; display:inline" width="50px;">
      <h4 class="my-auto">Was gilt - im Moment für Corona?</h4>
    </div>
  </div>

  <router-outlet></router-outlet>
  <div>
    <p>
      <small
        >Diese Informationen sind unverbindlich. Die Urheber haften für keine
        veralteten oder fehlerhaften Informationen.</small
      >
    </p>
    <p><small>2020 Christian Hülsemeyer</small><br>
    <small><a href="mailto:info@was-gilt.de">info@was-gilt.de</a></small></p>
    <a role="button" class="btn btn-sm btn-outline-info mb-3" href="/update">Mithelfen und Regeln aktuell halten</a>
  </div>
</div>
