<div class="row">
  <div class="col-sm-4 my-auto">
    <p class="mb-0">Geschlossene Institutionen</p>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="input-group my-auto">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="rule.institutions"
          placeholder="Geschlossene Institutionen"
          aria-label="institutions"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <div class="row">
      <div class="input-group my-auto">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="rule.explicitlyOpen"
          placeholder="Explizit geöffnet"
          aria-label="explicitlyopen"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <div class="row">
      <div class="input-group my-auto">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="rule.remarks"
          placeholder="Anmerkungen"
          aria-label="remarks"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
  </div>
</div>
