<div class="row">
    <div class="col-sm-3 my-auto">
      <p class="mb-0">Geschlossene Institutionen</p>
    </div>
    <div
      class="col-sm-3 input-group"
      *ngFor="let rule of this.rules; let i = index"
    >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="this.rules[i].institution"
        placeholder="Institution"
        aria-label="institution"
        aria-describedby="closed-institution"
        *ngIf="rule.institution != ''"
      />
      <div class="input-group-append">
        <button
          class="btn btn-danger"
          type="button"
          *ngIf="rule.institution != ''"
          (click)="this.deleteInstitution(i)"
        >
          X
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-3 my-auto">
      <p class="mb-0">Neue geschlossene Institution</p>
    </div>
    <div class="col-sm-9 my-auto">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="this.newValue"
          placeholder="Institution"
          aria-label="institution"
          aria-describedby="closed-institution"
        />
        <div class="input-group-append">
          <button
            class="btn btn-success"
            type="button"
            (click)="this.addInstitution()"
          >
            Hinzufügen
          </button>
        </div>
      </div>
    </div>
  </div>
  