<!--The content below is only a placeholder and can be replaced.-->

<ng-container>

  <ul class="list-group">
  <li class="list-group-item">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </li>
    <li class="list-group-item">
      <app-contact-rule-edit ([rule])="this.rules.contactsInside"></app-contact-rule-edit>
    </li>
    <li class="list-group-item">
      <app-contact-rule-edit ([rule])="this.rules.contactsOutside"></app-contact-rule-edit>
    </li>
  </ul>
</ng-container>

